---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  <div class="list__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ post.title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
        {% endif %}
      </h2>

      {% if post.excerpt %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>
      {% endif %}

      <p class="page__meta">
        {% if post.venue %}
          <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ post.venue }}
        {% endif %}

        {% if post.date %}
          <i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%B %d, %Y" }}
        {% endif %}

        {% if post.paperurl %}
          <br><a href="{{ post.paperurl }}"><i class="fa fa-fw fa-file-pdf-o" aria-hidden="true"></i> Download Paper</a>
        {% endif %}
      </p>
    </article>
  </div>
{% endfor %}


